<div class="row m-3">
    <mat-form-field class="col-12">
      <input matInput placeholder="Buscar por id o title ..." [(ngModel)]="busqueda" type="search">
    </mat-form-field>
  </div>
  
  <ng-container *ngFor="let t of todoArray | filter: busqueda">
    <mat-card class="my-1">
      Id: {{ t.id }} - Title: {{ t.title }}
    </mat-card>
  </ng-container>