<div class="card">
    <div class="card-header text-center font-weight-bold">
      {{ titulo }}
    </div>
    <div class="card-body">
      <form novalidate [formGroup]="crearForm" class="d-flex justify-content-center">
        <div class="col-12 col-md-8">
          <mat-form-field class="col-12 mt-3">
            <input matInput placeholder="Id" type="number" formControlName="id">
          </mat-form-field>
  
          <mat-form-field class="col-12 mt-3" *ngIf="tipo != 'eliminar'">
            <input matInput placeholder="Title" type="text" maxlength="20" formControlName="title">
          </mat-form-field>
  
          <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-success" [disabled]="!crearForm.valid" (click)="validar()">{{ boton }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>