<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/crear-item" routerLinkActive="active">Crear</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/editar-item" routerLinkActive="active">Editar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/consultar-item" routerLinkActive="active">Consultar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/eliminar-item" routerLinkActive="active">Eliminar</a>
      </li>
    </ul>

  </div>
</nav>