<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="default"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container mt-5 px-0">
    <router-outlet></router-outlet>
</div>
