/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr';


html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;   
    background-color: #ededed;
}

.container {
    background-color: white;
}

